<h1>Edit Gift Idea for <%= @recipient.name %></h1>

<%= render "form", parent: @recipient, gift_idea: @gift_idea, submit_label: "Update Gift Idea" %>

<%= link_to "Back to Recipient", recipient_path(@recipient) %>