<h1>Add Gift for <%= @event_recipient.recipient.name %> in <%= @event_recipient.event.name %></h1>

<%= render "gift_ideas/form", parent: @event_recipient, gift_idea: @gift_idea, submit_label: "Create Gift" %>

<%= link_to "Back to Event", event_path(@event_recipient.event) %>
