@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-sans text-gray-900 bg-gray-100 leading-relaxed;
    }
    a {
        @apply text-blue-500 hover:underline;
    }
    h1 {
        @apply text-3xl font-bold mb-6;
    }
    h2 {
        @apply text-2xl font-semibold mb-4;
    }
    p {
        @apply text-base text-gray-700 mb-2;
    }
}
